//colours

$pink: hsl(322, 100%, 69%);
$white: hsl(0, 0%, 100%);
$whitesmoke: hsl(220, 27%, 95%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
