//font-style
$heading-font-style: $poppins;
$body-font-style: $open-sans;
$cta-font-style: $open-sans;

//font-size
$font-size-base: 1.17vw;
$font-size-xxs: 0.73vw;
$font-size-xs: 0.88vw;
$font-size-sm: 1.02vw;
$font-size-md: 1.32vw;
$font-size-lg: 1.46vw;
$font-size-xl: 1.76vw;
$font-size-xxl: 2.2vw;

//theme
$hero-bg: $very-pale-cyan;
$footer-bg: $very-dark-cyan;
$btn-primary-colour: $pink;
$btn-secondary-colour: $whitesmoke;

//spacings
$spacing-primary: 0.0625rem;
$spacing-secondary: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;
