//Google Fonts

/** Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/** Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

//font-family
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$poppins-semi: 600;

$open-sans-normal: 400;
$open-sans-bold: 700;
